<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard DMAKit | PESB2</title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--DataTables [ OPTIONAL ]-->
    <link href="../plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
	  <link href="../plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../plugins/pace/pace.min.css" rel="stylesheet">
    <script src="../plugins/pace/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../js/jquery.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../js/nifty.min.js"></script>


    <!--=================================================-->

    <!--DataTables [ OPTIONAL ]-->
    <script src="../plugins/datatables/media/js/jquery.dataTables.js"></script>
	  <script src="../plugins/datatables/media/js/dataTables.bootstrap.js"></script>
	  <script src="../plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>


    <!--DataTables Sample [ SAMPLE ]-->
    <script src="../js/countryJS/loadCountry.js"></script>

    <!--Font Awesome [ OPTIONAL ]-->
    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Ion Icons [ OPTIONAL ]-->
    <link href="../plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <!--Ion Icons [ OPTIONAL ]-->
    <link href="../plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!--Themify Icons [ OPTIONAL ]-->
    <link href="../plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Premium Line Icons [ OPTIONAL ]-->
    <link href="../premium/icon-sets/icons/line-icons/premium-line-icons.min.css" rel="stylesheet">

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">
                        <img src="../img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                          <span class="brand-text">DMAKit Admin</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->

                    </ul>
                    <ul class="nav navbar-top-links pull-right">

                        <!--User dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="ic-user pull-right">
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <i class="demo-pli-male"></i>
                                </span>
                                <div class="username hidden-xs">Admin</div>
                            </a>


                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="../closeConnection" class="btn btn-primary">
                                        <i class="demo-pli-unlock"></i> Logout
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->


                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div id="page-head">

                    <!--Page Title-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div id="page-title">
                        <h1 class="page-header text-overflow">Registered Countries in DMAKit System</h1>

                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End page title-->
                </div>


                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

        					<div class="row">

                    <div class="col-sm-12 col-md-12">

                      <div class="panel">
                        <div class="panel-body">
                            <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th class="min-tablet">ID</th>
                                    <th class="min-tablet">Name</th>
                                    <th class="min-tablet">Created</th>
                                    <th class="min-tablet">Modified</th>
                                    <th class="min-tablet">Options</th>
                                  </tr>
                                </thead>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!--===================================================-->
                <!--End page content-->
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="../img/profile-photos/11.png" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                            <p class="mnp-name">Admin</p>
                                        </a>
                                    </div>
                                    <div id="profile-nav" class="collapse list-group bg-trans">

                                        <a href="../closeConnection" class="list-group-item">
                                            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                                        </a>
                                    </div>
                                </div>

                                <ul id="mainnav-menu" class="list-group">

                                  <!--Category name-->
                                  <li class="list-header">Accounts</li>

                                  <!--Menu list item-->
                                  <li>
                                      <a href="../country/">
                                          <i class="fa fa-globe"></i>
                                          <span class="menu-title">Countries</span><i class="arrow"></i>
                                      </a>

                                  </li>

                                  <li>
                                      <a href="../institution/">
                                          <i class="fa fa fa-university"></i>
                                          <span class="menu-title">Institution</span><i class="arrow"></i>
                                      </a>

                                  </li>

                                  <li>
                                      <a href="../users/">
                                          <i class="fa fa fa-users"></i>
                                          <span class="menu-title">Users</span><i class="arrow"></i>
                                      </a>

                                  </li>

                                  <li>
                                      <a href="../jobs/">
                                          <i class="fa fa fa-code-fork"></i>
                                          <span class="menu-title">Jobs Information</span><i class="arrow"></i>
                                      </a>

                                  </li>

                                  <li>
                                      <a href="../admin.html">
                                          <i class="fa fa fa-home"></i>
                                          <span class="menu-title">Home</span><i class="arrow"></i>
                                      </a>

                                  </li>


                        </ul>

                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>



        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="show-fixed pad-rgt pull-right">
                You have <a href="#" class="text-main"><span class="badge badge-danger">3</span> pending action.</a>
            </div>






            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<p class="pad-lft">&#0169; 2018 Desarrollado por DMAKit Group, PESB2 Group, DIQBT, FCFM, Universidad de Chile</p>


        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

   <!-- modal section -->
   <!-- modal para agregar-->
		<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Agregar Nueva Consulta RFI</h4>
						</div>
						<div class="modal-body">

						<form id="frmAgregar" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left">
						  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="idconsulta">ID Consulta <span class="required">*</span>
								</label>

								<div class="col-md-9 col-sm-9 col-xs-12">
							  	<input type="text" id="idconsulta" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese ID de la consulta">
								</div>
						  </div>

						  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span>
								</label>

								<div class="col-md-9 col-sm-9 col-xs-12">
							  	<input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese nombre de la consulta">
								</div>
						  </div>

						  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="demandante">Solicitante <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
							  	<input type="text" id="demandante" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese nombre del Solicitante">
								</div>
						  </div>

              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechaP">Fecha de Creación <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
							  	<input type="text" id="fechaP" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese la fecha de creación">
								</div>
						  </div>

              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechaC">Fecha de Cierre <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
							  	<input type="text" id="fechaC" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese la fecha de cierre">
								</div>
						  </div>


              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Seleccione Estado de Consulta<span class="required">*</span>
								</label>

								<div class="col-md-9 col-sm-9 col-xs-12">
								  <select id="status" class="form-control">
									<option>PUBLICADA</option>
                  <option>PARTICIPACIÓN HECHA</option>
                  <option>CANCELADA</option>
									<option>CERRADA</option>
                  <option>OTROS</option>
								  </select>
								</div>
						  </div>

              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-lg-3" for="responsable">Responsable <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
									<div class="selector-categoria">
										<select id="responsable" class="form-control" required>
										</select>
									</div>
								</div>
							</div>

						  <div class="ln_solid"></div>

						</div>

						<div class="modal-footer">
							<div class="form-group">
								<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
									<button type="reset" class="btn btn-primary">Resetear</button>
									<button type="button" id="agregar-usuario" class="btn btn-success" data-dismiss="modal">Aceptar</button>
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								</div>
						  </div>
						</div>
					</div>
				</div>
			</form>
		</div>
</body>

<!-- modal para eliminar -->
<div>
  <form id="frmEliminar" action="" method="POST">
    <input type="hidden" id="idcountry" name="idcountry" value="">
    <!-- Modal -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalEliminarLabel">Remove Country</h4>
          </div>
          <div class="modal-body">
            Are you sure remove country? All institutions associated with country will be remove<strong data-name=""></strong>
          </div>
          <div class="modal-footer">
            <button type="button" id="eliminar-country" class="btn btn-primary" data-dismiss="modal">Ok</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </form>
</div>

<!-- modal para editar un nuevo elemento -->
<div>
 <form id="frmEditar" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left">
   <input type="hidden" id="idcountry" name="idcountry" value="">
   <div class="modal fade" id="myModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabelEdit">Editing selected country</h4>
           </div>
           <div class="modal-body">


             <div class="form-group">
               <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name's country<span class="required">*</span>
               </label>

               <div class="col-md-9 col-sm-9 col-xs-12">
                 <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12" placeholder="Ingrese nombre de administrador">
               </div>
             </div>

             <div class="ln_solid"></div>
             <div class="form-group">
               <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                 <button type="reset" class="btn btn-primary">Reset</button>
                 <button type="button" id="editar-country" class="btn btn-success" data-dismiss="modal">Edit</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
               </div>
             </div>

           </div>

         </div>
       </div>
     </form>
   </div>
</div>
</html>
